/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    .hero-cnt-card {
        padding-left: 10%;
    }
    .hero-slider-wrpper {
        padding-right: 10px;
    }
    .owl-next {
        right: 0%;
    }
    .owl-prev {
        right: 6%;
    }

    .featured-products-wrpper {
        padding: 0 15px;
    }



}
/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .hero-cnt-card {
        padding-left: 10%;
    }
    .hero-slider-wrpper {
        padding-right: 10px;
    }
    .owl-next {
        right: 0%;
    }
    .owl-prev {
        right: 6%;
    }

    .relaxation-cnt-card p {
        padding-right: 135px;
    }
    .relaxation-cnt-card.text-end p {
        padding-left: 135px;
    }

    .featured-products-wrpper {
        padding: 0 15px;
    }
    #featured-product-slider .owl-prev {
        right: 5%;
    }

    



}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo-card a img {
        width: 100px;
    }
    .header-area {
        padding: 15px 0;
    }
    .tools-list li:nth-child(2),
    .tools-list li:nth-child(3) {
        display: none;
    }

    .hero-cnt-card {
        padding-left: 5%;
    }
    .hero-slider-wrpper {
        padding-right: 10px;
    }
    .owl-next {
        right: 0%;
    }
    .owl-prev {
        right: 7%;
    }
    .hero-title h3 {
        font-size: 30px;
    }
    .hero-sub-title p {
        font-size: 16px;
    }

    .relaxation-cnt-card p {
        padding-right: 0px;
    }
    .relaxation-cnt-card.text-end p {
        padding-left: 0px;
    }
    .relaxation-cnt-card h2 {
        font-size: 35px;
    }

    .featured-products-wrpper {
        padding: 0 15px;
    }
    #featured-product-slider .owl-prev {
        right: 7%;
    }


}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        padding: 15px 0;
    }
    .logo-card a img {
        width: 100px;
    }
    .tools-list li:nth-child(2),
    .tools-list li:nth-child(3) {
        display: none;
    }
    .humbarger-icon img {
        width: 35px;
    }

    .hero-cnt-card {
        padding-left: 5%;
    }
    .owl-next {
        right: 3%;
    }
    .owl-prev {
        right: 10%;
    }
    .hero-title h3 {
        font-size: 30px;
    }
    .hero-sub-title p {
        font-size: 16px;
    }
    .hero-btn a {
        padding: 13px 30px;
        font-size: 14px;
    }
    .owl-prev i, .owl-next i {
        font-size: 26px;
    }
    .hero-slider-wrpper {
        padding-right: 10px;
    }

    .relaxation-area {
        padding-top: 100px;
    }
    .white-bg,
    .count-number-bg,
    .count-number {
        display: none;
    }
    .relaxation-thum {
        padding-right: 60px;
        padding-left: 60px;
    }
    .relaxation-cnt {
        padding-left: 60px;
        padding-right: 60px;
    }
    .relaxation-cnt-card h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .relaxation-cnt-card h2 br {
        display: none;
    }
    .relaxation-cnt-card {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .relaxation-cnt-card.text-lg-end h2::before {
        left: 0;
    }

    .featured-products-area {
        padding: 30px 0;
    }
    .featured-products-wrpper {
        padding: 0 15px;
    }
    #featured-product-slider .owl-prev {
        right: 7%;
    }
    .name-price-card h3 {
        padding-top: 10px;
        padding-bottom: 8px;
    }



}


/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
    .header-area {
        padding: 15px 0;
    }
    .logo-card a img {
        width: 100px;
    }
    .tools-list li:nth-child(2),
    .tools-list li:nth-child(3) {
        display: none;
    }
    .humbarger-icon img {
        width: 35px;
    }

    .hero-slider-wrpper {
        padding: 0 15px;
    }
    .hero-cnt-card {
        padding: 0 15px;
        text-align: center;
        margin-top: 30px;
    }

    .hero-slider .owl-prev,
    .hero-slider .owl-next {
        background: #fff !important;
        width: 30px;
        box-shadow: 0 1px 12px 2px #0000000d;
        bottom: -20%;
        line-height: 1px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%) !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-slider .owl-prev {
        left: 0;
    }
    .hero-slider .owl-next {
        right: 0;
    }
    .hero-slider .owl-prev i, .hero-slider .owl-next i {
        font-size: 20px;
    }
    .hero-slider .owl-dots {
        display: none;
    }
    .hero-title h3 {
        font-size: 25px;
    }
    .hero-sub-title p {
        max-width: 100%;
        font-size: 16px;
    }
    .hero-btn a {
        padding: 13px 30px;
        font-size: 14px;
    }

    .relaxation-area {
        padding-top: 100px;
    }
    .white-bg,
    .count-number-bg,
    .count-number {
        display: none;
    }
    .relaxation-thum {
        padding-right: 0px;
        padding-left: 0px;
    }
    .relaxation-cnt {
        padding-left: 0px;
        padding-right: 0px;
    }
    .relaxation-cnt-card h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .relaxation-cnt-card h2 br {
        display: none;
    }
    .relaxation-cnt-card {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .relaxation-cnt-card.text-lg-end h2::before {
        left: 0;
    }
    .relaxation-cnt-card p {
        padding-right: 0;
    }
    .relaxation-cnt-card.text-lg-end p {
        padding-left: 0px;
    }
    .featured-products-area {
        padding: 30px 0;
        padding-top: 20px;
    }

    #featured-product-slider .owl-prev,
    #featured-product-slider .owl-next {
        bottom: 106% !important;
    }
    #featured-product-slider .owl-prev {
        right: 13%;
    }

    #featured-product-slider .owl-prev i,
    #featured-product-slider .owl-next i {
        font-size: 22px;
    }


}