/*=====================
FONTS LINK HERE
======================*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/*======================
DEFAULT CSS HERE
========================*/
body {	
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}


.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #008b8b;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.scrolltotop i {
    color: #ffff;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 13px;
    left: -8px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
    width: 40px;
    height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: #008b8b;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
}

.pluse::after,
.pluse2::after {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: -15px;
    margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}

.container,
.custom-container {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-container {
    max-width: 1720px;
    margin: auto;
}

/*======================
HEADER CSS HERE
========================*/
.header-area {
    padding: 25px 0;
    background-color: #fff;
}

.header-menu-card ul {
    display: flex;
    column-gap: 40px;
}

.header-menu-card ul li a,
.mobile-menu-list ul li a {
    font-size: 17px;
    font-size: 15px;
    font-weight: 600;
    color: #343434;
    text-transform: uppercase;
}

.logo-card a img {
    width: 155px;
}

.tools-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 25px;
}

.tools-list li a {
    color: #3A3A3A;
    font-size: 22px;
}

.x__icon__card,
.count__card {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoping__card__title {
    width: calc(100% - 80px);
}

.x__icon__card i {
    font-size: 30px;
    cursor: pointer;
}

.count__card span {
    font-weight: 600;
    line-height: 46px;
    color: #111;
}

.shoping-card-header {
    display: flex;
	padding: 0px;
    border-bottom: 1px solid #ecebeb;
}

.shoping__card__title {
    border-left: 1px solid #ecebeb;
    border-right: 1px solid #ecebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoping__card__title h4 {
    color: #111;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.shopping-card-body h2 {
    font-size: 22px;
    line-height: 1.2;
    color: #111;
    text-align: center;
}

.go-shop-btn a {
    font-weight: 600;
    display: inline-block;
    background-color: #111;
    color: #fff;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 20px 30px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    transition: color .3s ease 0s,background-color .3s ease 0s;
}

.go-shop-btn a:hover {
    background-color: #522b1f;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content {
	padding: 50px;
    border-radius: 0;
}

.modal-header {
	justify-content: center;
    padding: 0 0 20px 0;
}

.modal-header a img {
    width: 160px;
}

.modal-body {
	padding: 0;
}

.login-form-card h3 {
    text-align: center;
    font-size: 20px;
    color: #111;
    padding-top: 20px;
}

.user-login-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.single-input-field input {
    display: block;
    width: 100%;
    height: 55px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.single-input-field input::placeholder {
    color: #989FA4;
}

.single-input-field input:focus::placeholder {
    color: #111;
}

.single-input-field a,
.register-now-btn-card span {
    color: #c5c4c4;
    transition: all 0.2s ease;
}

.single-input-field a:hover,
.register-now-btn-card span:hover {
    color: #522b1f;
}

.register-now-btn-card span {
    cursor: pointer;
}

.single-input-field button {
    height: 55px;
    background-color: #111;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    width: 100%;
    transition: all .3s ease;
    border: none;
}

.single-input-field button:hover {
    background-color: #522b1f;
}

.register-now-btn-card,
.back-login-btn {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #e8eced;
    font-size: 14px;
    margin-bottom: 50px;
}

.modal-close-icon i {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    transition: color 0.2s ease;
}

.modal-close-icon i:hover {
    color: #522B1F;
}

.modal-content {
    position: relative;
}

.modal-close-icon {
    position: absolute;
    top: -30px;
    right: 0;
}

.modal {
	background: rgba(51, 51, 51, 0.4);
}

.registration-form-card h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    text-align: center;
}

.back-login-btn {
    cursor: pointer;
}

.registration-form-card,
.hide-area {
    display: none;
}

.show-area {
    display: block;
}

.humbarger-icon img {
	width: 40px;
	cursor: pointer;
}

.tabs {
    margin: 0 auto;
    overflow: hidden;
}

.tab-menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.tab-menu li {
    padding: 20px 24px;
    cursor: pointer;
    flex: 1;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.tab-menu li:hover {
    background-color: #ddd;
}

.tab-menu li.active {
    background-color: #111111;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.offcanvas-header {
	display: initial;
    padding: 0;
}

.tab-menu li img {
    width: 30px;
}

.tab-menu li span {
    color: #111;
    text-transform: uppercase;
    font-weight: 400;
}

.tab-menu li i {
    font-size: 18px;
}

.tab-menu li.active i,
.tab-menu li.active span {
    color: #fff;
}

.tab-menu li .white-icon,
.tab-menu li.active .balck-icon {
    display: none;
}

.tab-menu li.active .white-icon {
    display: block;
}

.offcanvas-body.mobile-menu-body {
    display: initial;
}

.mobile-menu-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.mobile-menu-list ul li a {
    width: 100%;
}

.aside-register-now-btn-card {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.aside-register-now-btn-card p {
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.aside-register-now-btn-card {
    position: relative;
}

.aside-register-now-btn-card span {
    font-size: 15px;
    position: absolute;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: .2em;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.offcanvas-body.mobile-menu-body {
    position: relative;
    padding-bottom: 0;
}

.aside-close-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.aside-close-btn button {
    background-color: #522b1f;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    width: 100%;
    border: none;
}


/*======================
HERO CSS HERE
========================*/
.hero-title h3 {
    font-size: 35px;
    font-weight: 500;
    transition: all .3s;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #111;
}

.hero-cnt-card {
	padding-left: 25%;
}

.hero-sub-title p {
    max-width: 90%;
    color: #585757;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-btn a {
    letter-spacing: 1px;
    line-height: 1;
    padding: 15px 40px;
    transition: all .3s;
    font-weight: 500;
    color: #ffffff;
    background: #000000;
    text-transform: capitalize;
}

.hero-btn a:hover {
    background: #522b1f;
}

.owl-prev,
.owl-next {
	position: absolute;
	bottom: -5%;
}

.owl-prev i,
.owl-next i {
	font-size: 35px;
}


.owl-prev {
    right: 17%;
}

.owl-next {
    right: 15%;
}

.owl-next {
	right: 12.5%;
}

.header-area.sticky-top {
    box-shadow: 0 2px 5px -2px #0000001a;
}

/*======================
RELAXATION CSS HERE
========================*/
.relaxation-area {
    padding-top: 140px;
}

.relaxation-thum {
    padding-right: 100px;
}

.relaxation-cnt {
    padding-left: 100px;
}

.relaxation-img-card {
    overflow: hidden;
}

.relaxation-thum img,
.relaxation-img-card img {
    transition: all 0.9s ease;
    width: 100%;
}

.relaxation-thum:hover img {
    transform: scale(1.1);
}

.relaxation-cnt-card h2 {
    font-size: 38px;
    margin-bottom: 30px;
    color: #000000;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
}

.relaxation-cnt-card h2::before {
    content: "";
    display: block;
    clear: both;
    width: 70px;
    height: 2px;
    background: #522b1f;
    position: absolute;
    bottom: 0;
}

.relaxation-cnt-card.text-lg-end h2::before {
    right: 0;
}

.relaxation-cnt-card p {
    padding-right: 150px;
    margin-bottom: 50px;
    color: #80827e;
    font-size: 15px;
}

.ndbdr {
    border-right: 1px solid #ccc;
}

.ndbdl {
    border-left: 1px solid #ccc;
}

.relaxation-wrpper .row .col-lg-6.commn-position {
    position: relative;
}

.white-bg {
    width: 5px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 50.5%;
    right: -2.5px;
    transform: translateY(-50%);
}

.count-number-bg {
    position: absolute;
    left: 99%;
    top: 50.2%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #f0f1ee;
    transform: translate(calc(50% - 51px),calc(-50% + 5px));
    z-index: 1;
}

.count-number {
    position: absolute;
    left: 98%;
    top: 49.5%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transform: translate(calc(50% - 51px),calc(-50% + 5px));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color: #68745C;
}

.relaxation-cnt-card.text-lg-end p {
    padding-left: 150px;
    padding-right: 0;
}

.relaxation-img-card:hover img {
    transform: scale(1.1);
}


/*======================
FEATURED PRODUCTS CSS HERE
========================*/
.featured-products-area {
    padding: 100px 0;
}

.featured-products-wrpper > h2 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 30px;
}

.name-price-card h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.name-price-card h3 a {
    color: #111;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.name-price-card h3 a:hover {
    color: #522b1f;
}

.name-price-card p {
    font-size: 15px;
    font-weight: 700;
    color: #522b1f;
}

.name-price-card p del {
    color: #979797;
}

.product-img-options ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.product-img-options ul li a {
    width: 46px;
    height: 46px;
    background-color: #fff;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    transition: all .5s ease;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.product-img-options ul li a:hover {
    background-color: #522B1F;
}

.product-img-options ul li a i {
    font-size: 20px;
    transition: all 0.3s ease;
}

.product-img-options ul li a:hover i {
    color: #fff;
}

.product-img {
    position: relative;
    overflow: hidden;
}

.product-img-options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.single-product-item:hover .product-img-options {
    bottom: 50px;
    opacity: 1;
    visibility: visible;
}

#featured-product-slider .owl-prev,
#featured-product-slider .owl-next {
    bottom: 104%;
}

#featured-product-slider .owl-dots {
    display: none;
}

#featured-product-slider .owl-prev {
	right: 3%;
}

#featured-product-slider .owl-next {
    right: 0;
}





